[Desktop Entry]
Name=UltimateSlice
GenericName=Video Editor
Comment=Final Cut Pro-inspired non-linear video editor
Exec=ultimate-slice
Icon=io.github.ultimateslice
Type=Application
Categories=AudioVideo;Video;GTK;
MimeType=application/vnd.apple.finalcutpro.fcpxml;
StartupNotify=true
