[Desktop Entry]
Name=UltimateSlice
GenericName=Video Editor
Comment=Final Cut Pro-inspired non-linear video editor
Exec=ultimate-slice
Icon=io.github.kmwallio.ultimateslice
Type=Application
Categories=AudioVideo;Video;GTK;
Keywords=nle;video editor;video;editing;non-linear;
MimeType=application/vnd.apple.finalcutpro.fcpxml;
StartupNotify=true
